<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="../static/style.css">
    <style>
        ul{
            display: block;
            list-style-type: none;
            padding: 0;
        }
        #demo img{
            width: 1100px;
            height: 400px;
            display : block;
            margin-right: auto;
            margin-left: auto;
        }
        #subject li a:hover{
            text-decoration: none;
        }
        #subject li{
            margin-top: 20px;
            margin-bottom : 20px;
        }
        #subject li:hover{
            background-color: #ffc107;
        }
        .content img{
            width: 180px;
            height: 120px;
        }
    </style>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=125293141485912&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
    <a class="navbar-brand" href="#">Code4Fun</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Subject
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">SQL</a>
                        <a class="dropdown-item" href="#">Java Core</a>
                        <a class="dropdown-item" href="#">Hibernate</a>
                    </div>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</div>
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-9">
            <h6 style="color: #a5a7a9;"><a href="#"><span><strong>SQL-SQL Basic </strong></span></a><span> </span><span style="color:gray; font-size:13px;"> 17/12/2018 </span><span style="color:gray"> Tác giả: <a href="#"> Admin</a></span></h6>
            <div class="content" style="display: inline-flex; margin-top: 20px;">
                <div style="width:100%;">
                    <h4 th:text="${post.title}"></h4>
                    <div th:utext="${post.content}">

                    </div>
                </div>
            </div>
            <div class="fb-comments" data-href="https://codeforfun/ga" data-width="700" data-numposts="5"></div>
        </div>
        <div class="col-md-3" style="min-height:660px;">
            <h4 style="color: #a5a7a9;">Top Subject</h4>
            <ul id="subject">
                <li style="width:100%; height:60px;">
                    <a href="#">
                        <div style="padding-top:15px; margin-left:15px;">
                            <span style="background-color: #57a7c1; color: white; font-size: 20px;" class="col-md-3">1</span>
                            <span style="font-size: 18px; color: #57a7c1;">SQL - SQL Basic</span>
                        </div>
                    </a>
                </li>
                <li style="width:100%; height:60px;">
                    <a href="#">
                        <div style="padding-top:15px; margin-left:15px;">
                            <span style="background-color: #9dc157; color: white; font-size: 20px;" class="col-md-3">2</span>
                            <span style="font-size: 18px; color: #57a7c1;">SQL - SQL Advance</span>
                        </div>
                    </a>
                </li>
                <li style="width:100%; height:60px;">
                    <a href="#">
                        <div style="padding-top:15px; margin-left:15px;">
                            <span style="background-color: #c1a057; color: white; font-size: 20px;" class="col-md-3">3</span>
                            <span style="font-size: 18px; color: #57a7c1;">Java - Java Core</span>
                        </div>
                    </a>
                </li>
                <li style="width:100%; height:60px;">
                    <a href="#">
                        <div style="padding-top:15px; margin-left:15px;">
                            <span style="background-color: #5f70c3; color: white; font-size: 20px;" class="col-md-3">4</span>
                            <span style="font-size: 18px; color: #57a7c1;">JSP/Servlet</span>
                        </div>
                    </a>
                </li>
                <li style="width:100%; height:60px;">
                    <a href="#">
                        <div style="padding-top:15px; margin-left:15px;">
                            <span style="background-color: #b45fc3; color: white; font-size: 20px;" class="col-md-3">5</span>
                            <span style="font-size: 18px; color: #57a7c1;">Hibernate</span>
                        </div>
                    </a>
                </li>
                <li style="width:100%; height:60px;">
                    <a href="#">
                        <div style="padding-top:15px; margin-left:15px;">
                            <span style="background-color: #c35f76; color: white; font-size: 20px;" class="col-md-3">6</span>
                            <span style="font-size: 18px; color: #57a7c1;">Spring Core</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer" style="background-color: white; height: 50px;">
    <div class="container" style="padding-top: 15px;">
        <span class="offset-md-5" style="color:green;"><strong>Copyright &copy; FA Dev Team 2018</strong></span>
    </div>
</footer>
</body>
</html>