<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="../static/style.css">
    <style>
        body{
            font-family: 'Comfortaa', cursive;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-offset-4 col-sm-offset-3 col-md-4 col-sm-6" style="border:1px solid lightgray; border-radius:5px; padding-bottom: 20px; margin-top:80px;">
            <h3><strong>Create User</strong></h3>
            <p style="color: red;" th:text="${message}"></p>
            <form action="" th:action="@{/register}" method="post" th:object="${registerRequestDto}">
            	<div class="form-group">
                    <label for="email">Email<span style="color:red;">*</span></label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                    <p style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                
                <div class="form-group">
                    <label for="fullName">Full Name<span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="fullName" th:field="*{fullName}">
                     <p style="color: red;" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
                </div>
                
                <div class="form-group">
                    <label>Gender<span style="color:red;">*</span></label>
                    <select th:field="*{gender}">
    					<option  th:value="Male" th:text="Male"></option>
    					<option  th:value="Female" th:text="Female"></option>
					</select>
                    <p style="color: red;" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
                </div>
                
                <div class="form-group">
                    <label for="userName">User Name<span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="userName" th:field="*{userName}">
                    <span><i>This is name display in website of you</i></span>
                     <p style="color: red;" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
                </div>
                
                <div class="form-group">
                    <label for="dateOfBirth">DOB<span style="color:red;">*</span></label>
                    <input type="date" class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}">
                     <p style="color: red;" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
                </div> 
                
                <div class="form-group">
                    <label for="password">Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control" id="password" th:field="*{password}">
                    <p style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password<span style="color:red;">*</span></label>
                    <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}">
                     <p style="color: red;" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
                </div>
                
                <button type="submit" class="btn btn-success col-md-offset-7 col-sm-offset-6">Create</button>
                <button type="reset" class="btn btn-primary ">Reset</button>
            </form>
        </div>
    </div>

</body>
</html>